:host {
  .custom-sidebar .sidebar-header {
    background-color: var(--gray-50);
    display: flex;
    align-items: center;
    padding: 16px;
  }

  .custom-sidebar .logo-menu {
    max-width: 120px;
  }

  .custom-sidebar .sub-title {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .menu-item a.p-menuitem-link {
    display: block;
    color: #333;
    text-decoration: none;
  }

  .menu-item a.p-menuitem-link:hover {
    background-color: var(--primary-color);
    color: white;
  }

  .menu-item-label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .submenu {
    margin-left: 10%;
    padding-left: 30px;
  }

  .submenu-item a.p-menuitem-link {
    margin-left: 10%;
    font-size: 0.9rem;
  }

  .submenu-hidden {
    display: none;
  }

  .submenu-visible {
    border-radius: 8px;
    display: block;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 48px 0 96px 0;
    width: 100%;
  }

  .logo-menu {
    width: 200px;
    height: auto;
  }

  .sub-title {
    color: var(--primary-color);
    font-family: var(--font-family);
  }

  .custom-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--surface-300);
    position: relative;
  }

  .sidebar-content {
    flex: 1;
    overflow-y: auto;
  }

  .sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 30px 0 30px 0;
  }

  .p-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 0%;
    text-decoration: none;
    text-align: left;
  }

  .p-menu-list li {
    margin: 8px 0;
    text-decoration: none;
  }

  .p-menuitem-link {
    align-items: center;
    color: var(--primary-color);
    font-family: var(--font-family);
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-left: 0%;
    text-align: left;
  }

  .p-menuitem-link:hover {
    background-color: var(--primary-color);
    text-decoration: none;
  }

  .icon-spacing {
    margin-right: 8px;
  }

  .pi custom-icon-size {
    font-size: 1.5rem;
  }

  /* Estilos para telas menores */
  @media (max-width: 768px) {
    .sidebar-header {
      padding: 24px 0;
    }

    .logo-menu {
      width: 150px;
    }

    .btn-logout {
      width: 100%;
    }

    .custom-sidebar {
      width: 100%;
    }

    .p-accordion .p-accordion-header {
      font-size: 0.875em;
    }
  }

  @media (max-width: 480px) {
    .sidebar-header {
      padding: 16px 0;
    }

    .logo-menu {
      width: 120px;
    }

    .p-menuitem-link {
      font-size: 0.875em;
      text-decoration: none;
    }
  }
}