<div class="portal-content">
  <div class="main-content">
    <div [class]="{
      'sidebar-content-itens-expanded': modeSidebar,
      'sidebar-content-itens-collapsed': !modeSidebar}">
      <app-sidebar [modeSidebar]="modeSidebar"></app-sidebar>
    </div>

    <div class="router-outlet-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer-content">
    <a href="https://www.ketra.com.br" target="_blank" class="footer-link">
      <span>Desenvolvido por Ketra soluções inteligentes / {{ currentYear }}</span>
    </a>
  </div>
</div>