<div class="full-screen">
  <div class="container">
    <div class="login-card">
      <div class="form-group">
        <img src="../../../assets/logo-ketra.png" 
        alt="VMI Médica" 
        class="logo">
        <h6 class="h6-menu">Portal PGA</h6>
      </div>
      
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="email" 
            [(ngModel)]="email" 
            name="email" 
            placeholder="{{ 'AUTH.USERNAME' | translate }}" 
            required>

          <div class="form-group" style="position: relative;">
            <input pInputText id="senha" name="senha" required 
              [(ngModel)]="password" 
              placeholder="{{ 'AUTH.PASSWORD' | translate }}" 
              [type]="mostrarSenha ? 'text' : 'password'"
              style="padding-right: 40px;" />
            
            <button type="button" pButton 
              [icon]="mostrarSenha ? 'pi pi-eye-slash' : 'pi pi-eye'" 
              (click)="mostrarSenha = !mostrarSenha"
              class="p-button-text p-button-plain button-password">
            </button>
          </div>
        </div>
        
        <div class="forgot-password">
          <a (click)="esqueciSenha()" style="cursor: pointer;">{{ 'AUTH.FORGOT_PASSWORD' | translate }}</a>
        </div>
        
        <div class="checkbox-group">
          <div class="radio-container">
            <input type="radio" 
              class="custom-radio"
              [(ngModel)]="userType" 
              name="userType"
              value="colaborador">
            <label>Colaborador</label>
          </div>
          <div class="radio-container">
            <input type="radio" 
              class="custom-radio"
              [(ngModel)]="userType" 
              name="userType" 
              value="fornecedor">
            <label>Fornecedor</label>
          </div>
        </div>
        
        <button type="submit" class="btn-primary">{{ 'AUTH.LOGIN' | translate }}</button>
      </form>
    </div>
  </div>
</div>